# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Production builds
/build
dist/

# Environment files
*.env
*.env.*
*token.json*
*credentials.json*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
*.dmp

# System files
.DS_Store
*.pem

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Build / compiled files
*.o
*.so
*.s
*.gcov

# Temporary / backup
*~
*.bak
*.swp
*.orig
*.rej
tmp/

# Misc
.cache/
output
perf.data
perf.data.old
massif.out.*
callgrind.out.*

# Project specific
agenthub/agents/youtube/db
.vercel
.ipynb_checkpoints/
.chainlit

# Mobile
android-sdk/
